// 修改代码块字体和边框
div[class*="language-"] {
  border-radius: 8px !important;        // 圆角大小
  font-family: 'Fira Code', monospace !important; // 字体
  pre {
    padding: 1.2em;                     // 内边距
  }
}